body{
    margin-top: 1px;
    margin-left: -2px;
    margin-right: -2px;
}

header nav{
    background-color: rgb(184, 184, 255);
}

header div ul li a{
    background-color: rgb(237, 163, 163);
    color: black;
    justify-content: center;
}
.pere{
    display: flex;
    justify-content: center;
}

.text1{
    background-color: aqua;
}

.text2{
    background-color: blue;
}
.text3{
    background-color: crimson;
}
.text4{
    background-color: blueviolet;
}

.Mere{
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.mere1{
    background-color: chartreuse;
}

.mere2{
    background-color: darkturquoise;
}
img{
    width: 220px;
    align-items: flex-start;
}

.font{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.font1{
    background-color: darksalmon;
    width: 15%;
}

.font2{
 background-color: darkgreen;
 width: 10%;   
}
.font3{
    background-color: darkgoldenrod;
    width: 20%;
}
.font4{
 background-color: brown;
 width: 12%;   
}
.font5{
    background-color: bisque;
    width: 15%;
}
.font6{
    background-color: cornflowerblue;
    width: 8%;
}
.font7{
    background-color: chartreuse;
    width: 10%;
}
.font8{
    background-color: blueviolet;
    width: 15%;
}
.font9{
    background-color: blanchedalmond;
    width: 30%;
}
.font10{
    background-color: aqua;
    width: 40%;    
}
